{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="col-md-8">
    <h1>Привет, я автор</h1>
  </div>
  <div class="col-md-8">
    <p>
      Меня зовут Василий, мне 42 года и я студент курса "Разработчик Python" на платформе Яндекс.Практикум.
      Это мой учебный проект.
    </p>
    <p>
      Моя основная деятельность связана с государственной службой. В конце 2022 года я планирую поменять профессию и войти в сферу IT. Помимо Python, я собираюсь освоить машинное обучение и DevOps-практики. 
    </p>
  </div>
</div>
{% endblock %} 
